body {
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 200px;
}

.submit-button {
    width: 100%;
}